@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

:root {
  --primary:  rgba(21, 101, 216, 1);
  --verde:  rgba(9, 117, 71, 1);
  --verde-bg: rgba(9, 117, 71, 0.1);
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  background: #FFF;
  color: #212529;
  text-align: left;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 2rem 0 1.38rem;
  font-weight: 400;
}

h1 {font-size: 3.052rem; font-weight: 600; margin-top: 0;}

h3 {font-size: 1.953rem; font-weight: 500;}

h4 {font-size: 1.563rem; font-weight: 600; margin: 0.7rem 0;}

h5 {font-size: 1.250rem; font-weight: 600; margin: 0 0 0.5rem;}

p { margin: 0; }

.text-sm {font-size: 0.8rem;}

html,
body {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.container {
  width: 100%;
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1140px;
}

.col-large {
  max-width: 850px;
  margin: 0 auto;
}

.col-medium {
  max-width: 600px;
  margin: 0 auto;
}

.spacing {
  padding-top: 10rem;
}

.spacing-md {
  padding-top: 5rem;
}

.spacing-sm {
  padding-top: 2rem;
}

.header {
  background-color: #002868;
  height: 1000px;
  padding-top: 20px;
  margin-bottom: -125px;
}

.navbar {
  position: relative;
  display: flex;
  justify-content: flex-start;
  flex-flow: row nowrap;
  align-items: center;
  padding: 0.5rem 1rem;
  margin-bottom: 20px;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.navbar-logo {
  display: inline-block;
  margin-right: 1.2rem;
  font-size: 1.2rem;
  font-weight: bolder;
  text-decoration: none;
  color: #fff;
}

.navbar-collapse {
  display: flex;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.nav-item {
  display: flex;
  margin-left: 2.5rem;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.75rem;
}

.btn-link {
  text-decoration: none;
  color: #1565D8;
  padding: 8px 16px;
}

.btn-link:hover > .arrow-right {
  transform: translate3d(8px, 0px, 0px);
}

.btn-outline {
  border: 1px solid;
  border-radius: 8px;
  text-decoration: none;
  margin: 0 4px;
  background-color: transparent;
  padding: 12px 32px;
  font-weight: 400;
}

.light {
  color: #fff;
  border-color: #fff;
}

.hero {
  padding-top: 6rem;
}

.subtitle {
  font-size: 1.250rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin: 2rem 0 5rem;
}

.arrow-right {
  display: inline-block;
  padding-left: 0.5em;
  font-size: 1rem;
  transition: all 200ms ease 0s;
  transform: translate3d(0px, 0px, 0px);
}

.illustration {
  position: relative;
  margin: 2rem 0;
  z-index: 2;
}

.illustration img {
  width: 680px;
  height: 510px;
}

.features {
  margin: 10rem 0;
}

.badge-pill {
  display: inline-block;
  font-weight: 500;
  background-color: var(--verde-bg);
  color: var(--verde);
  padding: .5rem 1rem;
  border-radius: 10rem;
}

.section-title {
  font-weight: 600;
}

.content-item {
  width: 33%;
}

.mini-card {
  padding: 0 2rem;
}

.card-badge {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  padding: 12px 8px 0;
  border-radius: 1rem;
  background-color: rgba(21, 101, 216, 0.1);
}

.card-badge img {
  width: 50px;
  height: 50px;
}

.curve svg {
  vertical-align: middle;
}

.baixa {
  background-image: linear-gradient(to bottom, #f8fbff, rgba(250, 251, 251, 0));
}

.about {
  background: #f8fbff;
  padding: 15rem 0 8rem;
  margin-top: -140px;
}

.illustration-left {
  max-width: 48%;
}

.illustration-left img {
  width: 100%;
  height: 100%;
}

.planning-img {
  margin-left: -100px;
  width: 630px; 
}

.text-right {
  width: 48%;
  padding-top: 2rem;
}

.text-left {
  width: 48%;
}

.heading {
  margin-bottom: 4rem;
}

.card-feature {
  width: 50%;
}

.card-feature-heading img {
  width: 32px;
  height: 32px;
  padding: .5rem;
  border-radius: 8px;
  background-color: rgba(21, 101, 216, 0.1);
}

.card-feature-body {
  margin-right: 1.5rem;
}

.card-item {
  display: flex;
  align-items: flex-start;
}

.card-heading {
  margin-right: 1rem;
}

.card-item img {
  width: 32px;
  padding: .5rem;
  border: 1px solid rgba(21, 101, 216, 0.2);
  border-radius: 12px;
}

.card-bullet {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 1rem;
  margin-bottom: 3rem;
}

.bullet-header,
.number {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.bullet-header {
  width: 48px;
  height: 48px;
  border: solid 1px rgba(21, 101, 216, 0.18);
}

.number {
  width: 36px;
  height: 36px;
  font-weight: 600;
  line-height: 1;
  color: white;
  background-color: rgba(21, 101, 216, 0.9);
  box-shadow: 0 10px 15px 0 rgb(21 37 71 / 15%);
}

.profile-item {
  width: 45%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border: 1px solid #f0f4f8;
  border-radius: 4px;
  height: 72px;
  transition: ease-in-out .3s;
  will-change: background, color;
}

.profile-item:hover {
  background: var(--primary);
  color: white;
}

.item-icon {
  color: var(--primary);
  background: #f0f4f8;
  padding: 4px 10px;
  border-radius: 4rem;
  margin-right: .7rem;
}

.text-item {
  flex-grow: 1;
}

.collab-pic {
  list-style: none;
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 1.2rem;
}

.collab-pic li {
  border-radius: 4px;
}

.img-257 {
  width: 200px;
  height: 257px;
  background-color: #f1af34;
  align-self: flex-end;
}

.img-355 {
  width: 262px;
  height: 355px;
  background-color: #8f7e44;
}

.img-166 {
  width: 166px;
  height: 166px;
  background-color: #c3f4ca;
  margin-left: 4rem;
}

.img-200 {
  width: 200px;
  height: 200px;
  background-color: #f4fbb3;
  margin-left: 2rem;
}

.about-item {
  display: flex;
  width: 50%;
  margin-bottom: 1.2rem;
}

.item-sm {
  width: 16px;
  height: 24px;
  padding: 2px 5px;
}

footer {
  background-color: #0D2436;
  padding-top: 6rem;
  text-align: center;
  color: #fff;
}

.footer-text p {
  margin: 0 auto;
  width: 60%;
}

.contact-buttons {
  padding: 4rem 0 8rem;
}

footer p {
  padding-bottom: 1rem;
}

hr {
  padding: 1rem 0;
  border:  none;
  border-top: 1px solid #7c92ab;
}

.copyright {
  padding: 0 0 2rem;
}






