@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600&display=swap');

:root {
  --primary:  rgba(3, 73, 53, 1);
  --secondary: rgba(238, 210, 174, 1);
  --terciary: rgba(204, 109, 69, 1);
  --verde-bg: rgba(9, 117, 71, 0.1);
}

html {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  scroll-behavior: smooth;
}

body {
  background: #FFF;
  color: #212529;
  text-align: left;
  overflow-x: hidden;
}

h1, h2, h3, h4, h5 {
  margin: 2rem 0 1.38rem;
  font-weight: 400;
}

h1 {font-size: 3.052rem; font-weight: 600; margin-top: 0;}

h3 {font-size: 1.953rem; font-weight: 500;}

h4 {font-size: 1.563rem;font-weight: 600;margin: 0.7rem 0;}

h5 {font-size: 1.250rem; font-weight: 600; margin: 0 0 0.5rem;}

p { margin: 0; }

.text-sm {font-size: 0.8rem;}

html,
body {
  margin: 0;
  padding: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: normal;
}

.text-center {
  text-align: center;
}

.container {
  padding: 0 1rem;
  margin: 0 auto;
  max-width: 1140px;
}

.col-large {
  max-width: 850px;
  margin: 0 auto;
}

.col-medium {
  max-width: 600px;
  margin: 0 auto;
}

.spacing {
  padding-top: 10rem;
}

.spacing-md {
  padding-top: 5rem;
}

.spacing-sm {
  padding-top: 2rem;
}

.header {
  background-color: var(--primary);
  height: 1000px;
  padding-top: 20px;
  margin-bottom: -125px;
}

.navbar {
  margin: 0 auto 2rem;
  max-width: 1140px;
  padding: 0.5rem 1rem;
}

.flex-row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
}

.logo-link {
  position: relative;
  width: 160px;
  height: 160px;
}

.navbar-logo {
  position: absolute;
  top: 4px;
  height: 100%;
}

.navbar-collapse {
  display: flex;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.nav-item {
  display: flex;
  margin-left: 2.5rem;
}

.btn {
  cursor: pointer;
  font-size: 1rem;
  line-height: 1.75rem;
}

.btn-link {
  text-decoration: none;
  color: var(--primary);
}

.btn-link:hover > .arrow-right {
  transform: translate3d(8px, 0px, 0px);
}

.btn-outline {
  border: 1.5px solid;
  border-radius: 8px;
  text-decoration: none;
  margin: 0 4px;
  background-color: transparent;
  padding: 12px 32px;
  font-weight: 400;
}

.light {
  color: #fff;
  border-color: #fff;
}

.gold {
  color: #F4BC28;
  border-color: #F4BC28;
}

.hero {
  padding-top: 6rem;
}

.subtitle {
  font-size: 1.250rem;
  font-weight: 600;
  line-height: 2.25rem;
  margin: 2rem 0 5rem;
}

.arrow-right {
  display: inline-block;
  padding-left: 0.5em;
  font-size: 1rem;
  transition: all 200ms ease 0s;
  transform: translate3d(0px, 0px, 0px);
}

.illustration {
  position: relative;
  margin: 2rem 0;
  z-index: 2;
}

.illustration img {
  width: 45vw;
  height: 35vw;
  max-width: 500px;
}

#about:target { scroll-margin-top: 64px;}

.features {
  margin: 10rem 0;
}

.badge-pill {
  display: inline-block;
  font-weight: 500;
  background-color: var(--verde-bg);
  color: var(--primary);
  padding: .5rem 1rem;
  border-radius: 10rem;
}

.section-title {
  font-weight: 600;
}

.content-item {
  width: 33%;
}

.mini-card {
  padding: 0 2rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.card-badge {
  width: 64px;
  height: 64px;
  margin: 0 auto;
  padding: 12px 8px 0;
  border-radius: 1rem;
  background-color: var(--verde-bg);
}

.card-badge img {
  width: 50px;
  height: 50px;
}

.curve svg {
  vertical-align: middle;
}

.baixa {
  background-image: linear-gradient(to bottom, #f8fbff, rgba(250, 251, 251, 0));
}

.about {
  background: #f8fbff;
  padding: 15rem 0 8rem;
  margin-top: -140px;
}

.illustration-left {
  max-width: 450px;
}

.illustration-left img {
  width: 100%;
  height: 100%;
}

.planning-img {
  margin-left: 80px;
  width: 630px;
}

.text-right {
  width: 48%;
  padding-top: 2rem;
}

.text-left {
  width: 48%;
}

.heading {
  margin-bottom: 4rem;
}

.card-feature {
  width: 50%;
}

.card-feature-heading img {
  width: 32px;
  height: 32px;
  padding: .5rem;
  border-radius: 8px;
  background-color: var(--verde-bg);
}

.card-feature-body {
  margin-right: 1.5rem;
}

.card-item {
  display: flex;
  align-items: flex-start;
}

.card-heading {
  margin-right: 1rem;
}

.card-item img {
  width: 32px;
  padding: .5rem;
  border: 1px solid var(--secondary);
  border-radius: 12px;
}

.card-bullet {
  display: grid;
  grid-template-columns: 50px 1fr;
  grid-gap: 1rem;
  margin-bottom: 3rem;
}

.bullet-header,
.number {
  display: grid;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.bullet-header {
  width: 48px;
  height: 48px;
  border: solid 1px var(--secondary);
}

.number {
  width: 36px;
  height: 36px;
  font-weight: 600;
  line-height: 1;
  color: white;
  background-color: var(--primary);
  box-shadow: 0 10px 15px 0 rgb(21 37 71 / 15%);
}

.profile-item {
  width: 45%;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  margin-bottom: 1rem;
  border: 1px solid #f0f4f8;
  border-radius: 4px;
  height: 72px;
  transition: ease-in-out .3s;
  will-change: background, color;
}

.profile-item:hover {
  background: var(--primary);
  color: white;
}

.item-icon {
  color: var(--primary);
  background: #f0f4f8;
  padding: 4px 10px;
  border-radius: 4rem;
  margin-right: .7rem;
}

.text-item {
  flex-grow: 1;
}

.illustration-right > img {
  width: 520px;
  height: 380px;
  object-fit: scale-down;
  margin-top: 48px;
}

.about-item {
  display: flex;
  width: 50%;
  margin-bottom: 1.2rem;
}

.item-sm {
  width: 16px;
  height: 24px;
  padding: 2px 5px;
}

footer {
  background-color: var(--primary);
  padding: 6rem 0 4rem;
  text-align: center;
  color: #fff;
}

.footer-text p {
  margin: 0 auto;
  width: 60%;
}

.logo-box {
  position: relative;
  height: 160px;
}

.footer-logo {
  top: 4px;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
}

.contact-buttons {
  padding: 4rem 0 8rem;
}

footer p {
  padding-bottom: 1rem;
}

.big-text {
  font-size: 1.4rem;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}


/*******************************************
 *             MEDIA QUERIES
 * *****************************************/

@media (max-width: 600px){
  .header {
    height: 850px;
    padding-top: 1rem;
    margin-bottom: -40px;
  }
  .hero {
    padding-top: 4rem;
  }
  h1 {
    font-size: 2.2rem;
  }
  .subtitle {
    font-size: 1rem;
    font-weight: 500;
  }
  .illustration{
    display: none;
  }
  h3 {
    font-size: 1.6rem;
    line-height: 1.6;
  }
  .container > .flex-row{
    flex-direction: column;
  }
  .content-item{
    width: 100%;
  }
  .mini-card{
    padding: 0 2rem 3rem;
  }
  h4 {
    margin: 0.3rem 0;
  }
  .btn-link{
    padding: 1rem;
    text-decoration: underline;
  }
  .arrow-right {
    padding-left: 0.2rem;
  }
  .features{
    margin: 10rem 0 4rem;
  }
  .illustration-left{
    max-width: 70vw;
  }
  .text-right{
    display: flex;
    flex-direction: column;
    width: 90%;
  }
  .content > .flex-row {
    flex-direction: column;
  }
  .card-feature {
    width: 100%;
    margin-bottom: 4rem;
  }
  .spacing {
    padding-top: 2rem;
  }
  .baixa .content-item {
    padding-bottom: 2rem;
  }
  .planning-img {
    margin-left: 0px;
  }
  .card-bullet {
    margin-bottom: 3rem;
  }
  .profile-item{
    width: 80%;
  }
  .about{
    margin-top: -24px;
    padding: 6rem 0;
  }
  .about .text-left {
    width: 90%;
  }
  .about .illustration-right {
    display: none;
  }
  .about-item {
    width: 100%;
  }
  footer {
    padding: 4rem 0;
  }
  .footer-text p {
    width: 90%;
  }
  .contact-buttons {
    display: flex;
    flex-wrap: wrap;
    padding: 2rem 1.5rem 4rem;
    flex-direction: column;
    align-content: center;
  }
  .contact-buttons .btn-outline {
    margin: 1rem 0;
    width: 80px;
  }
}